<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doghouse</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%#= link_to 'Home', root_path,:class => "brand"%>
      <div class="nav-collapse right">
        <ul class="nav">
          <% if current_user %>
              <li>Sign in as <%= current_user.name%></li>
              <li><%= link_to "Sign out", logout_path ,:method => :delete,:class => 'right'%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="span9">
      <%= yield%>
    </div>
    <div class="span3" id= "followers_list"></div>

  </div>

</div>
</body>
</html>


